.fundo{
  /*background-size: 1100px 1800px;/*
  width:100%;
  right:100%;
}
header {
  background-color: black;
  box-shadow: 0px 3px 10px black;
  width:100%;
  right:100%;
  background: #D917C1;
}
.l{
  font-size: 4rem;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}
.p{
  text-align: center;
  font-size: 4rem;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}
.lo a{
  font-size: 1.5rem;
  text-align: center;
  color: white;
  text-decoration: none;
  background: #D962C4;
  border: 4px solid #A01488;
  
}
nav{
  text-align: center;
}
.c{
  text-align: center;
}

 /*img{
  width: 250px;
  height: 250px;
  border-radius:50%;
  border: 10px solid greenyellow;
  
}/*
